@import "tailwindcss";

/* Isso aqui é o que faz o dark:bg-xxx funcionar no v4 com a classe do next-themes */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-cobre: #CD7F32;
  --color-grafite-bg: #121212;
  --color-grafite-card: #1E1E1E;
}

/* Forçamos o comportamento básico do tema */
@layer base {
  *, ::after, ::before {
    @apply border-slate-200 dark:border-white/5;
  }
  
  body {
    @apply bg-[#F8FAFC] text-slate-900 transition-colors duration-300;
  }

  .dark body {
    @apply bg-[#121212] text-gray-200;
  }
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
.scrollbar-hide { -ms-overflow-style: none; scrollbar-width: none; }