@import "tailwindcss";

html, body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* Grafite Profundo */
  color: #E5E7EB; /* Cinza Gelo para leitura */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Transição suave para interações */
* {
  transition: all 0.2s ease-in-out;
}